.opaco {
    opacity: 0.5;
}

.topo{
    background-color: #CF2B2B;
    height: 92px;
    width: 100%;
}
.titulo{
    width: 248px;
    height: 44px;
    margin-left: 21px;
    margin-top: 8px;
    font-family: 'Righteous';
    font-size: 44px;
    color: #FFFFFF;    
}
.subtitulo{
    width: 226px;
    height: 17px;
    font-family: 'Roboto';
    margin-top: 5px;
    margin-left: 21px;
    color: #FFFFFF;
}
.cardapio p{
    font-family: 'Righteous';
    font-weight: 400;
    font-size: 26px;
    color: #333333;
    
}
.cardapio{
    background: #E5E5E5;
    width: 100%;
    height: 920px;
    
}
.cardapio > div{
    width: 415px;
    display: flex;
    overflow-x: scroll;
    margin-left: 20px;
}

.box {
    width: 172px;
    min-width: 172px;
    height: 216px;
    background-color: #FFFFFF;
    border-radius: 9px;
    margin-right: 30px;
    box-sizing: border-box;
}
.box img{
    width:144px; 
    height:87px;
    margin: 15px 14px 8px 14px;
    border-radius: 4px;
}
.nome{
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 16px;
    color: #333333;
    margin-left: 14px;
    margin-bottom: 5px;    
}
.descricao{
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 15px;
    color: #A6A6A6;
    margin-left: 14px;
    margin-bottom: 5px;
}
.preco{
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    margin-left: 7px;
    color: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rodape{
    width: 414px;
    height: 92px;
    background-color: #FFFFFF;
}
.rodape div{
    width: 364px;
    height: 61px;
    border-radius: 50px;
    margin: 15px 25px 15px 25px;
    text-align: center;
    background-color: #CBCBCB;
    display: table;
}
.rodape div p{
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 20px;
    color: #FFFFFF;
    display: table-cell;
    vertical-align: middle;
}
.buttom{
    width: 20px;
    height: 20px;
    margin-left: 60px;
    opacity: 0;

}
.chek ion-icon {
    width: 20px;
    height: 20px;
    margin-left: 60px;
    color: #32B72F; 
    opacity: 1;
    }

.selecionado{
    border: 3px solid #32B72F;
}
.selecionado ion-icon{
    width: 20px;
    height: 20px;
    margin-left: 60px;
    color: #32B72F; 
    opacity: 1;
}





