.topo{
    background-color: #CF2B2B;
    height: 92px;
    width: 100%;
}
.titulo{
    width: 248px;
    height: 44px;
    margin-left: 21px;
    margin-top: 8px;
    font-family: 'Righteous';
    font-size: 44px;
    color: #FFFFFF;    
}
.subtitulo{
    width: 226px;
    height: 17px;
    font-family: 'Roboto';
    margin-top: 5px;
    margin-left: 21px;
    color: #FFFFFF;
}
.cardapio p{
    font-family: 'Righteous';
    font-weight: 400;
    font-size: 26px;
    color: #333333;
    
}
.cardapio{
    background: #E5E5E5;
    width: 100%;
    height: 920px;
    
}
.cardapio > div{
    width: 415px;
    display: flex;
    overflow-x: scroll;
    margin-left: 20px;
    
}

.box {
    width: 172px;
    min-width: 172px;
    height: 216px;
    background-color: #FFFFFF;
    border-radius: 9px;
    margin-right: 30px;
    box-sizing: border-box;
}
.rodape{
    width: 414px;
    height: 92px;
    background-color: #FFFFFF;
}
.rodape div{
    width: 364px;
    height: 61px;
    border-radius: 50px;
    margin: 15px 25px 15px 25px;
    text-align: center;
    background-color: #CBCBCB;
    display: table;
}
.rodape div p{
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 20px;
    color: #FFFFFF;
    display: table-cell;
    vertical-align: middle;
}